<%= bootstrap_form_for(@restaurant) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :address %>
  <%= f.text_field :phone_number %>
  <%= f.select(:category,
    "<option>belgian</option>
    <option>chinese</option>
    <option>french</option>
    <option>italian</option>
    <option>japanese</option>
    ".html_safe) %>

  <%= f.submit "add", class: "btn btn-success" %>
<% end %>