<h2 class="text-center"><%= @restaurant.name %></h2>

<div class="text-left">
  <ul>
    <li><%= @restaurant.name %></li>
    <li><%= @restaurant.category %></li>
    <li><%= @restaurant.address %></li>
  </ul>
</div>

<div class="text-center">
<%= link_to "add a review", new_restaurant_review_path(@restaurant), class: "btn btn-warning" %>
<%= link_to "return to list", restaurants_path, class: "btn btn-primary" %>
</div>